body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  color: #007bff;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}

hr {
  border: 1px solid #ddd;
  margin: 20px auto;
}

pre {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  overflow-x: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

code {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Stylish button */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

Image container */ .image-container {
  text-align: center;
}


.image-container img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
  border: 2px solid #000;
  border-radius: 5px;
  margin-top: 20px;
}
